In [1]:
import pandas as pd
import numpy as np

In [2]:
data_set = pd.read_csv('data/people_wiki.csv')

In [3]:
print(data_set.shape)

(59071, 3)

In [4]:
print(data_set.head(10))

                                                 URI                 name  \
0        <http://dbpedia.org/resource/Digby_Morrell>        Digby Morrell
1       <http://dbpedia.org/resource/Alfred_J._Lewy>       Alfred J. Lewy
2        <http://dbpedia.org/resource/Harpdog_Brown>        Harpdog Brown
3  <http://dbpedia.org/resource/Franz_Rottensteiner>  Franz Rottensteiner
4               <http://dbpedia.org/resource/G-Enka>               G-Enka
5        <http://dbpedia.org/resource/Sam_Henderson>        Sam Henderson
6        <http://dbpedia.org/resource/Aaron_LaCrate>        Aaron LaCrate
7      <http://dbpedia.org/resource/Trevor_Ferguson>      Trevor Ferguson
8         <http://dbpedia.org/resource/Grant_Nelson>         Grant Nelson
9         <http://dbpedia.org/resource/Cathy_Caruth>         Cathy Caruth

                                                text
0  digby morrell born 10 october 1979 is a former...
1  alfred j lewy aka sandy lewy graduated from un...
2  harpdog brown is a singer and harmonica player...
3  franz rottensteiner born in waidmannsfeld lowe...
4  henry krvits born 30 december 1974 in tallinn ...
5  sam henderson born october 18 1969 is an ameri...
6  aaron lacrate is an american music producer re...
7  trevor ferguson aka john farrow born 11 novemb...
8  grant nelson born 27 april 1971 in london also...
9  cathy caruth born 1955 is frank h t rhodes pro...

In [5]:
obama = data_set.loc[data_set['name'] == 'Barack Obama']
print(obama.text)

35817    barack hussein obama ii brk husen bm born augu...
Name: text, dtype: object

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer(stop_words='english')
word_counts = count_vect.fit_transform(data_set.text)
print(type(word_counts))

<class 'scipy.sparse.csr.csr_matrix'>

In [7]:
word_counts

<59071x548115 sparse matrix of type '<class 'numpy.int64'>'
	with 8078359 stored elements in Compressed Sparse Row format>

In [8]:
## get frequency of the word 'the'

In [9]:
count_vect.vocabulary_['obama']

358378

In [10]:
# show all uniq words

In [11]:
count_vect.get_feature_names()

['00',
 '000',
 '0000',
 '00000',
 '00000van',
 '0001',
 '00014338',
 '0001sec',
 '0002',
 '00026',
 '0003',
 '0005',
 '000577',
 '0005sec',
 '0006',
 '0007',
 '0007105916',
 '0007200374',
 '0007207328',
 '0007213506',
 '000721426xhe',
 '0007a',
 '000he',
 '000in',
 '000m',
 '000seelenprojekt',
 '000tnmickushina',
 '001',
 '0017',
 '001cd',
 '001ehebbm',
 '002',
 '0020849605',
 '0024',
 '0026183900',
 '002864574x',
 '0028659287',
 '003',
 '0033',
 '0034',
 '0036',
 '004',
 '0043',
 '0046',
 '004erdemir',
 '005',
 '006',
 '0060222425',
 '0060628227',
 '0060628464',
 '0060669667',
 '006074393x',
 '0064',
 '0066',
 '007',
 '0070710481',
 '0071357440',
 '0071375627',
 '0072131772',
 '0072131896',
 '0072222611',
 '0072225351',
 '0072438886',
 '007all',
 '008',
 '0080',
 '0080357547',
 '008after',
 '009',
 '00906603',
 '0091',
 '0091857112',
 '0091900255she',
 '0099416689',
 '009at',
 '00a10',
 '00g',
 '00s',
 '00sex',
 '00sin',
 '01',
 '010',
 '0100',
 '01000400',
 '01011001',
 '01011001i',
 '0102',
 '0102928045since',
 '010397',
 '01041984',
 '010602he',
 '0108',
 '011',
 '0110',
 '01122005',
 '0113554',
 '011708',
 '012',
 '0123039606',
 '013',
 '013011510x',
 '0131232746',
 '0139738509',
 '014',
 '0140265708',
 '0140280553',
 '0143',
 '014a',
 '015',
 '0158',
 '016',
 '016a',
 '017',
 '017384251',
 '018',
 '0186',
 '0195104633dr',
 '0195140532winifred',
 '0198',
 '0198149417',
 '0198150784',
 '0198155409',
 '0198162073',
 '0198269862',
 '0198299966judaism',
 '01analyzing',
 '01consulting',
 '01he',
 '01jazz',
 '01kwh',
 '01net',
 '01oct1952',
 '01shave',
 '01st',
 '01w',
 '02',
 '020',
 '0200',
 '0201083191',
 '020114218x',
 '02011964',
 '020139829x',
 '0201498278he',
 '0201533774',
 '020158042x',
 '0201580438',
 '0201725932',
 '0202361373',
 '0203',
 '02032010',
 '0205',
 '0208',
 '021',
 '021050',
 '021206',
 '021207his',
 '02138',
 '02182748',
 '022',
 '022009',
 '02202020',
 '0225662434',
 '0225662434the',
 '0226727033',
 '022under',
 '023',
 '0231115113',
 '0233976817',
 '024',
 '0240804120winder',
 '0240814215',
 '024cd',
 '025',
 '0252009851we',
 '0252014278',
 '0252070003',
 '026',
 '0262195224',
 '0262521563',
 '0262524570',
 '027',
 '0273',
 '0273langton',
 '0275938514',
 '028',
 '0282',
 '029',
 '0295973390',
 '0295974982',
 '02au',
 '02he',
 '02the',
 '03',
 '030',
 '0300',
 '0300051115paul',
 '0304',
 '03072010',
 '03082008',
 '031',
 '0310227283',
 '0312022484',
 '0312038054',
 '0312151918',
 '0312199228',
 '0312360398',
 '0312913451',
 '0313313326professor',
 '031538736',
 '0316346624',
 '0316359564',
 '032',
 '0321186125an',
 '0321187911',
 '0321422775balancing',
 '0321461088cmmi',
 '033',
 '0330482688',
 '034',
 '034042320x',
 '0340428910',
 '0340500719',
 '0340524553',
 '0340551097',
 '0340565403',
 '0340579714',
 '0340579730',
 '0340628588',
 '0340832118',
 '0345373065waiting',
 '035',
 '036',
 '037',
 '0373892101',
 '0375411852joint',
 '03790',
 '038',
 '0380751089review',
 '038075343xreview',
 '0380755203as',
 '0380898527review',
 '03824',
 '038518011x',
 '0387',
 '0387942890',
 '0393039153',
 '0393058697',
 '039306073x',
 '0394537173the',
 '0394546032broadsides',
 '03945771243',
 '0395827442',
 '0395837030sue',
 '0395883245a',
 '0399513329',
 '039951810x',
 '03his',
 '04',
 '040',
 '0400',
 '04012015',
 '0403',
 '040407',
 '0405',
 '040612',
 '0407',
 '040he',
 '041',
 '04122006he',
 '0413776565bigsby',
 '0415049709',
 '042',
 '04242018',
 '04312417676',
 '0434',
 '04350925',
 '044',
 '0440223857netter',
 '0441',
 '0443073457',
 '0446329673',
 '0446696749',
 '045',
 '0450048047in',
 '04522599832',
 '046',
 '0465045677metzingers',
 '0465091148',
 '047',
 '0470179147',
 '0470540710moffitt',
 '0470834005',
 '0470838515',
 '0471250376',
 '0471417920',
 '0471489093',
 '0471597376in',
 '0471683345',
 '0471792519in',
 '0471833568',
 '0471971979',
 '0471971987',
 '0472114190shrinking',
 '048',
 '0485w',
 '0486',
 '049',
 '0499',
 '04journalist',
 '04nikon',
 '04s',
 '04th',
 '05',
 '050',
 '0500251126the',
 '0500274959',
 '0500506',
 '05012011',
 '050187',
 '0503',
 '0504',
 '05042008',
 '05042012',
 '0505',
 '0506',
 '050607',
 '051',
 '0512after',
 '0515',
 '05151992',
 '0517078074',
 '0517705427',
 '051989after',
 '052',
 '0520207343',
 '052020735',
 '0521207886matthew',
 '052124160x',
 '0521416957',
 '0521447828',
 '0521582741',
 '0521816262',
 '05222358230',
 '052284085x',
 '052340347x',
 '0529',
 '053shis',
 '055',
 '0555',
 '05564',
 '0557049148',
 '0559',
 '056',
 '057',
 '0571147763',
 '0578054043',
 '0586069984',
 '059',
 '0595089003',
 '059534819x',
 '0595351689',
 '0595376053',
 '0595760260',
 '0595760260my',
 '05b',
 '05bn',
 '05festival',
 '05following',
 '05he',
 '05kean',
 '05m',
 '05maio',
 '05the',
 '06',
 '060',
 '0600545',
 '060218',
 '06021960',
 '06021999',
 '060508',
 '06052008',
 '06052011',
 '0606jason',
 '0607',
 '061',
 '0611',
 '0613',
 '06140',
 '0615202136',
 '0618378294',
 '0618391118',
 '0618446621',
 '0618453695',
 '0618717609',
 '062',
 '063',
 '06301000',
 '0632037571',
 '0637',
 '064',
 '0643704',
 '0646043099',
 '0646157116',
 '0646190296',
 '0646352601',
 '0646464817guy',
 '065',
 '066',
 '0667',
 '067',
 '0670043281',
 '0676975216',
 '0679400036',
 '0679400621farflung',
 '0679424652',
 '067942833xfrom',
 '068',
 '0683',
 '0689106165in',
 '069',
 '0691070075',
 '0691091293',
 '0692337008',
 '06he',
 '06in',
 '06m',
 '07',
 '070',
 '0700',
 '0705',
 '07051978',
 '07072014',
 '0708',
 '071',
 '0710',
 '0711',
 '0714542954',
 '0714masella',
 '0715631330',
 '071670076xdudley',
 '0727907867his',
 '07292011',
 '073',
 '0738210447',
 '074',
 '0743246950',
 '0743260481',
 '0743271165',
 '0743287150',
 '0743290429',
 '0743466330',
 '0743470591',
 '074756695x',
 '0748663215',
 '075',
 '0750310219',
 '0750944064',
 '0750946741',
 '0750947497',
 '0752450077',
 '0752457403',
 '0752463527',
 '0754',
 '0754631222',
 '0758202709',
 '0758216599',
 '076',
 '0761839674',
 '0762',
 '076241541x',
 '0765311704stemple',
 '077',
 '0771016573',
 '0771065094in',
 '0773478396prior',
 '0773507450bakan',
 '0773522522',
 '0773731911',
 '0773gtafter',
 '078',
 '0786607335',
 '0793',
 '079second',
 '07ghost',
 '07in',
 '07s',
 '08',
 '080',
 '0801057647jesus',
 '0801495427',
 '0801862701',
 '0802075959',
 '0802111068',
 '0802807356mark',
 '080283549xisbn',
 '0802836984first',
 '0802849806the',
 '0803747527',
 '0803938845',
 '0803972059',
 '0804115559',
 '0805791086',
 '0806901551',
 '0806903449',
 '0806904127',
 '080690724x',
 '0806913045',
 '080691811x',
 '080692893x',
 '0806964979',
 '0806969830',
 '0806984686',
 '0806985429',
 '0806987529',
 '0806989491',
 '0806997117',
 '0807',
 '0807031119her',
 '08072013',
 '0808',
 '0809',
 '080972',
 '080m',
 '081',
 '0810867214',
 '0811213420the',
 '0811364',
 '0811814157',
 '0811848752',
 '0812235304',
 '0812908910',
 '0812991583',
 '0813333024roman',
 '08142013',
 '0815603878rudolf',
 '0815focus',
 '0816030936',
 '0816038465',
 '0819184454',
 '081988',
 '082',
 '082011',
 '082012',
 '0820449148',
 '0821258303',
 '0822317206',
 '0825611547',
 '0826464637',
 '0826470459',
 '0827244940',
 '083',
 '08337029',
 '0838905900',
 '084',
 '0841218366streitwieser',
 '0842517901',
 '0843909196deadpan',
 '084390948xstopgap',
 '0843909722as',
 '0847819876',
 '0849333261',
 '085',
 '0851989136',
 '0852346492',
 '0853033803',
 '0853459215',
 '0855',
 '085he',
 '086',
 '0862434955',
 '0867',
 '0868409707',
 '087',
 '0877226504global',
 '0877227756communities',
 '0877229457',
 '0877736103the',
 '0877736707harmonic',
 '0878332642',
 '0878332928',
 '0879101733',
 '0879759712',
 '088',
 '0881507032fine',
 '0881507423',
 '0883441888',
 '0883441888prof',
 '0883850877',
 '0883852020',
 '0883855070',
 '0883855143',
 '0883855240',
 '08891027912',
 '0889202206',
 '0889820228',
 '0889991499',
 '0889994536',
 '0889995737',
 '089',
 '0892561661horchow',
 '0892815604bridge',
 '0894',
 '0897501446',
 '0898230497',
 '0898655641',
 '08bn06bn',
 '08chris',
 '08in',
 '08ppgjurevicus',
 '08though',
 '09',
 '090',
 '0900',
 '09008050',
 '090182514x',
 '0902',
 '0906456002',
 '0906other',
 '09081968',
 '0908630360',
 '091',
 '0910',
 '0911',
 '09112014',
 '091160136',
 '091299',
 '091364',
 '0915368552',
 '0916217361as',
 '0918432871',
 '0920',
 '092064art',
 '0922',
 '09223',
 '0929712242he',
 '093',
 '09301230',
 '0930407571',
 '0931425379taub',
 '0935067140',
 '09366',
 '0938768336',
 '094',
 '0944803733ted',
 '095',
 '0952122642',
 '0953695158the',
 '0953743829',
 '0953979806',
 '0954407555',
 '0955048206',
 '096',
 '0961862203kathy',
 '0964793059',
 '096479308',
 '0967202957',
 '096720299x',
 '0968337309',
 '0968568904',
 '097',
 '0970276834',
 '0971509328',
 '0972140204',
 '0972178902',
 '0972669345',
 '097268221x',
 '0974670103',
 '0975578405',
 '097746170x',
 '0978240519289',
 '098',
 '099',
 '0998',
 '0999',
 '09areas',
 '09both',
 '09m',
 '09szhkb',
 '09the',
 '0b',
 '0chandigarh',
 '0dimensional',
 '0draws',
 '0f',
 '0fer',
 '0for1',
 '0for13',
 '0for1he',
 '0for2',
 '0for20',
 '0for3',
 '0for4',
 '0for5',
 '0for7',
 '0for8',
 '0g',
 '0mahaffey',
 '0n',
 '0one',
 '0rphandrift',
 '0rphandrifts',
 '0sle',
 '0wner',
 '0x10c',
 '10',
 '100',
 '1000',
 '10000',
 '100000',
 '1000000',
 '10000000',
 '100000000',
 '1000000000',
 '10000000000',
 '10000000prior',
 '1000000he',
 '1000000in',
 '1000000jeff',
 '1000000mckeever',
 '100000and',
 '100000at',
 '100000best',
 '100000garners',
 '100000harrington',
 '100000in',
 '100000mile',
 '100000papathanassiou',
 '100000pappas',
 '100000resident',
 '100000the',
 '100000verse',
 '100000vote',
 '100001996',
 '1000020000',
 '10000ayear',
 '10000he',
 '10000in',
 '10000jata',
 '10000km',
 '10000m',
 '10000m10000',
 '10000meter',
 '10000metre',
 '10000mgrage',
 '10000seat',
 '10000th',
 '10000tommy',
 '10000word',
 '10000year',
 '10001100pm',
 '10001300',
 '10001400',
 '10001500',
 '10001536',
 '10002500',
 '100050',
 '10006',
 '10007',
 '1000900',
 '1000acre',
 '1000am1230pm',
 '1000andrew',
 '1000bed',
 '1000cc',
 '1000ellsworth',
 '1000eventi',
 '1000holmsen',
 '1000hp',
 '1000in',
 '1000km',
 '1000le',
 '1000m',
 '1000meter',
 '1000metre',
 '1000mw',
 '1000noon',
 '1000oaksbarrelcom',
 '1000page',
 '1000plus',
 '1000pm',
 '1000point',
 '1000pointrebound',
 '1000prosecutors',
 '1000reggie',
 '1000run',
 '1000s',
 '1000squarefoot',
 '1000th',
 '1000the',
 '1000ukt',
 '1000win',
 '1000yard',
 '1000year',
 '1001',
 '100100',
 '100106',
 '100109the',
 '100112',
 '10011he',
 '1001500m',
 '100165',
 '10017',
 '1001the',
 '1002',
 '10020',
 '100200',
 '100200and',
 '10022012',
 '10023',
 '10024',
 '100250',
 '10028',
 '1003',
 '100300',
 '10030they',
 '10038',
 '1004',
 '10043',
 '10044',
 '100464',
 '1004he',
 '1004w',
 '1005',
 '10054',
 '10057',
 '1005fm',
 '1006',
 '10061',
 '100626',
 '10064',
 '10066',
 '1007',
 '10071012',
 '100724',
 '1007633mose',
 '10077',
 '1008',
 '10081',
 '10083',
 '1008robert',
 '1009',
 '10090',
 '10093',
 '10099',
 '100a',
 '100acre',
 '100after',
 '100although',
 '100at',
 '100b',
 '100bed',
 '100cc',
 '100clue',
 '100cyrus',
 '100day',
 '100dbs',
 '100defever',
 '100design',
 '100digit',
 '100e',
 '100following',
 '100foot',
 '100game',
 '100garland',
 '100girls',
 '100he',
 '100hour',
 '100in',
 '100inch',
 '100issue',
 '100k',
 '100kenny',
 '100kg',
 '100kilometre',
 '100km',
 '100largest',
 '100lbs',
 '100lingmerth',
 '100lovato',
 '100m',
 '100mbits',
 '100megawatt',
 '100meter',
 '100metre',
 '100mev',
 '100mgilbert',
 '100mhz',
 '100mile',
 '100miler',
 '100million',
 '100ml',
 '100mlater',
 '100mon',
 '100mph',
 '100mshe',
 '100odd',
 '100p196869',
 '100page',
 '100pages',
 '100percent',
 '100person',
 '100piece',
 '100pm',
 '100point',
 '100ragnarsdottir',
 '100rbi',
 '100reception',
 '100s',
 '100seat',
 '100she',
 '100story',
 '100strong',
 '100t',
 '100th',
 '100thaning',
 '100thanniversary',
 '100the',
 '100thyear',
 '100to1',
 '100to70isora',
 '100varbles',
 '100voice',
 '100watt',
 '100whfs',
 '100while',
 '100williams',
 '100williamss',
 '100winner',
 '100word',
 '100y',
 '100yard',
 '100yd',
 '100year',
 '100yearold',
 '101',
 '1010',
 '10100',
 '101000',
 '101000kilometre',
 '101002job1813',
 '10101',
 '101010',
 '1010200311012004',
 '10102014',
 '10106',
 '10107',
 '10108',
 '1010committee',
 '1010s',
 '1011',
 '1011000',
 '101106',
 '10111',
 '101111eci12171',
 '101111jiec12196',
 '101117',
 '10114',
 '10115',
 '10116',
 '1011886',
 '10119',
 '101194',
 '101198101798cadrez',
 '1011994',
 '1011th',
 '1012',
 '10120',
 '10121',
 '1012181927',
 '10124at',
 '10125he',
 '10126',
 '1013',
 '10131',
 '1013249perrys',
 '101328',
 '10134',
 '10135',
 '10136',
 '10137',
 '101385',
 '1014',
 '10140',
 '1014000',
 '10141',
 '10145',
 '10147',
 '10148',
 '1015',
 '10150',
 '10153',
 '1015310163',
 '10156',
 '10156on',
 '10157',
 '1016',
 '10160',
 '101688',
 '1017',
 '10177',
 ...]

In [12]:
from itertools import islice
list(islice(count_vect.vocabulary_.items(), 20))

[('digby', 160586),
 ('morrell', 336006),
 ('born', 96562),
 ('10', 704),
 ('october', 359398),
 ('1979', 11143),
 ('australian', 72855),
 ('rules', 427109),
 ('footballer', 202134),
 ('played', 386788),
 ('kangaroos', 272389),
 ('carlton', 111892),
 ('football', 202093),
 ('league', 293372),
 ('aflfrom', 48412),
 ('western', 529065),
 ('australia', 72702),
 ('early', 172590),
 ('senior', 442626),
 ('west', 528963)]

In [13]:
# ordered count of all words

In [14]:
occ = np.asarray(word_counts.sum(axis=0)).ravel().tolist()
counts_df = pd.DataFrame({'term': count_vect.get_feature_names(), 'occurrences': occ})
counts_df.sort_values(by='occurrences', ascending=False).head(20)

        occurrences           term
509445        59644     university
96562         54633           born
349506        49604            new
340895        29888          music
345486        29758       national
57247         28804       american
541245        28802          years
436036        28432         school
323328        28403         member
535617        27284          world
386788        25755         played
534477        25019            won
257259        23444  international
252399        23358      including
535098        23188           work
111154        22766         career
197102        22678           film
540819        22426           year
482916        22004           team
492257        22002           time

In [15]:
# use trained vectorizer to count the 'Obama' word occurences

In [16]:
obama_count = count_vect.transform(obama.text)
print(obama_count)

  (0, 3270)	1
  (0, 8159)	1
  (0, 14807)	1
  (0, 16121)	1
  (0, 16484)	1
  (0, 18130)	2
  (0, 18413)	1
  (0, 20271)	3
  (0, 22237)	1
  (0, 23034)	1
  (0, 23789)	3
  (0, 24571)	2
  (0, 25312)	3
  (0, 26011)	1
  (0, 26449)	1
  (0, 26651)	1
  (0, 34697)	1
  (0, 37524)	1
  (0, 45070)	8
  (0, 46357)	1
  (0, 46832)	1
  (0, 48228)	1
  (0, 48258)	2
  (0, 48631)	1
  (0, 57247)	3
  :	:
  (0, 473301)	1
  (0, 475253)	1
  (0, 477301)	1
  (0, 481988)	1
  (0, 482176)	1
  (0, 482236)	1
  (0, 485165)	1
  (0, 486237)	3
  (0, 486344)	1
  (0, 496705)	1
  (0, 499831)	1
  (0, 501497)	1
  (0, 507829)	1
  (0, 508423)	1
  (0, 509144)	3
  (0, 509445)	2
  (0, 510860)	1
  (0, 511694)	1
  (0, 518492)	1
  (0, 524331)	1
  (0, 524897)	1
  (0, 533155)	1
  (0, 534477)	1
  (0, 535182)	1
  (0, 541245)	1

In [17]:
# use trained vectorizer to decipher which word occurs 14 times in the 'Obama' text

In [18]:
print (count_vect.get_feature_names()[494541])

todayrob

In [19]:
# get top 10 obama words

In [20]:
obama_occ = np.asarray(obama_count.sum(axis=0)).ravel().tolist()
obama_counts_df = pd.DataFrame({'term': count_vect.get_feature_names(), 'occurrences': obama_occ})
obama_counts_df.sort_values(by='occurrences', ascending=False).head(20)

        occurrences         term
358378            9        obama
45070             8          act
292368            6          law
328423            4     military
259085            4         iraq
395397            4    president
155872            4   democratic
138523            4      control
436036            3       school
20271             3         2004
450746            3       signed
486237            3         term
509144            3       united
23789             3         2009
263746            3      january
466577            3       states
25312             3         2011
374870            3        party
442385            3       senate
258530            3  involvement

In [21]:
# From the vectorized count, we can use the TfidfTransformer to calculate the tf-idf weights
from sklearn.feature_extraction.text import TfidfTransformer

transformer = TfidfTransformer()
transformed_weights = transformer.fit_transform(word_counts)
transformed_weights

<59071x548115 sparse matrix of type '<class 'numpy.float64'>'
	with 8078359 stored elements in Compressed Sparse Row format>

In [22]:
# Let's examine the top 20 ngrams by average tf-idf weight
weights = np.asarray(transformed_weights.mean(axis=0)).ravel().tolist()
weights_df = pd.DataFrame({'term': count_vect.get_feature_names(), 'weight': weights})
weights_df.sort_values(by='weight', ascending=False).head(20)

                 term    weight
509445     university  0.017893
349506            new  0.014489
340895          music  0.012660
96562            born  0.011502
197102           film  0.011009
386788         played  0.010860
293372         league  0.010484
439001         season  0.010132
345486       national  0.010078
323328         member  0.010029
436036         school  0.010026
57247        american  0.009900
535617          world  0.009805
534477            won  0.009419
482916           team  0.009356
541245          years  0.009226
74379           award  0.008770
257259  international  0.008760
443923         served  0.008685
535098           work  0.008618

In [23]:
# use TFIDF on Obama text

In [24]:
obama_tf_idf = transformer.transform(obama_count)
print(obama_tf_idf)

  (0, 541245)	0.01641457583591241
  (0, 535182)	0.020200567551102604
  (0, 534477)	0.01885339848983865
  (0, 533155)	0.057487564796564326
  (0, 524897)	0.030132338063191502
  (0, 524331)	0.039710388381786775
  (0, 518492)	0.03467685716561149
  (0, 511694)	0.056876213404974736
  (0, 510860)	0.04610966636712518
  (0, 509445)	0.02922337824867251
  (0, 509144)	0.06093269911705297
  (0, 508423)	0.06034920350773561
  (0, 507829)	0.061791306275852116
  (0, 501497)	0.06505947899937921
  (0, 499831)	0.05451945180683298
  (0, 496705)	0.03382416456099088
  (0, 486344)	0.03815101177628357
  (0, 486237)	0.09743331594028297
  (0, 485165)	0.04589476146829438
  (0, 482236)	0.06646487791129124
  (0, 482176)	0.04385097256997385
  (0, 481988)	0.030438293702223316
  (0, 477301)	0.04712764416750055
  (0, 475253)	0.03886211196888937
  (0, 473301)	0.0587068453138822
  :	:
  (0, 57247)	0.05047970987121912
  (0, 48631)	0.036239125199723665
  (0, 48258)	0.09029661234723273
  (0, 48228)	0.05636982183302688
  (0, 46832)	0.03397087600055121
  (0, 46357)	0.04587846966682137
  (0, 45070)	0.28216985897150376
  (0, 37524)	0.04918382157282446
  (0, 34697)	0.06370988800888841
  (0, 26651)	0.02336880721358014
  (0, 26449)	0.08932675549858303
  (0, 26011)	0.022097434764794817
  (0, 25312)	0.06412219306764742
  (0, 24571)	0.04101717328158687
  (0, 23789)	0.0608499961340743
  (0, 23034)	0.019848170412593607
  (0, 22237)	0.019679171935677486
  (0, 20271)	0.06383740659363821
  (0, 18413)	0.057278486540220774
  (0, 18130)	0.05444854120627827
  (0, 16484)	0.02475495512223638
  (0, 16121)	0.024802406486716645
  (0, 14807)	0.025932107569832743
  (0, 8159)	0.03417205756255973
  (0, 3270)	0.04707067153112986

In [25]:
# get top 10 words by TFIDF for Obama

In [26]:
obama_weights = np.asarray(obama_tf_idf.sum(axis=0)).ravel().tolist()
obama_tf_idf_df = pd.DataFrame({'term': count_vect.get_feature_names(), 'weight': obama_weights})
obama_tf_idf_df.sort_values(by='weight', ascending=False).head(20)

                  term    weight
358378           obama  0.413495
45070              act  0.282170
259085            iraq  0.171970
292368             law  0.163903
138523         control  0.149369
365249         ordered  0.138633
328423        military  0.135368
155872      democratic  0.129792
258530     involvement  0.124821
417604        response  0.124821
442385          senate  0.104114
486237            term  0.097433
108417        campaign  0.095529
353646         nominee  0.090386
48258      afghanistan  0.090297
292049  laureateduring  0.089327
246771           husen  0.089327
26449        2012obama  0.089327
395397       president  0.088798
166095        domestic  0.086725